@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
}

header,
.herosection,
footer {
    background-color: #1F2937;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 16px;
}

.logo {
    font-weight: 900;

}
h1 {
    font-size: 48px;
    font-weight: 900;
}


.infosection,
.quotesection {
    color: #1F2937;
    font-size: 36px;
}

button,
.callsection {
    background-color: #3882F6;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 16px;
}

a {
    color:#E5E7EB;
    text-decoration: none;
}